* { box-sizing: border-box; }
body {
    background: #444;
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
}

.channels { display: flex; }
.channel {
    flex: 1 1 0;
    margin: 0 .7em;
    position: relative;
}
.channel-body {
    height:     calc(100% - 70px);
    overflow-y: auto;
}

h1 { text-align: center; margin-bottom: 0; }
h2,
.controls {
    display: inline-block;
}

.btn {
    min-height: 50px;
    line-height: 50px;

    margin: .2em .7em .2em .2em;
    padding: .2em .7em;
    cursor: pointer;
}

.btn {        background: #65b042; }
.btn:hover {  background: #bdb76b; }
.btn.active { background: #e28964; }

.drop-zone { border: 3px dashed #aeaeae; }